#section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/wolf-3.png);
    background-size: 100vw;
    background-position: center;
    height: 600px;
    color: white;
    align-items: center;
    gap: 1rem;
}

#section1 h1{
    font-size: 96px;
}

#section1 span {
    background-color: white;
    width: 100px;
    height: 5px;
}

#section1 p{
    font-size: 30px;
    width: 630px;
    text-align: center;
}

#section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2C5680;
    height: 340px;
    gap: 2rem;
    padding-bottom: 2rem;
}

#section2 p {
    font-size: 24px;
    font-weight: 400;
    color: white;
    width: 960px;
    text-align: center;
}

#section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    gap: 2rem;
    padding: 2rem 2rem 5rem 2rem;
}

#valores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem ;
}

.valores__valor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 195px;
    color: white;
    gap: 2rem;
}

.valores__valor h3{
    font-size: 34px;
}

.valores__valor p{
    font-size: 26px;
    line-height: 1.5rem;
    text-align: center;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 190px;
    height: 190px;
    border-radius: 50%;
}

#section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    gap: 4rem;
}

.lobos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    gap: 5rem;
}

.lobos__lobo {
    display: flex;
    flex-direction: row;
    text-align: start;
    gap: 3rem;
    position: relative;
}

.img__lobo{
    min-width: 430px;
    min-height: 330px;
    max-width: 430px;
    max-height: 330px;
    object-fit: cover;
    object-position: center;
}

#border1{
    border: 5px solid #333;
    background-color: #2C5680;
    width: 430px;
    height: 330px;
    position: absolute;
    z-index: -1;
    top: -20px;
    left: -20px;
}

#border2{
    border: 5px solid #333;
    background-color: #2C5680;
    width: 430px;
    height: 330px;
    position: absolute;
    z-index: -1;
    top: -20px;
    right: -50px;
}

.lobos__lobo h4 {
    font-size: 36px;
}

.lobos__lobo h5{
    font-size: 20px;
}

.lobos__lobo p{
    font-size: 24px;
}