* {
    margin: 0;
    padding: 0;
    font-family: 'Darker Grotesque', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

h2 {
    font-size: 48px;
    color: #DEB959
}

.container__header__footer { 
    display: flex;
    align-items: center;    
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
}

header{
    background-color: #85CDF5;
    color: #333333;
    height: 8.125rem;
}

header img {
    width: 96px;
    height: 112px;
}

.header-link{
    font-size: 30px;
    font-weight: 700;
    color: #333333;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.header-link::after {
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #333333;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s ease-in-out;
}

.header-link:hover::after{
    width: 100%;
}

footer{
    background-color: #333333;
    color: #FFFFFF;
    height: 275px;
    align-content: center;
}

.footer__contact__info__infos{
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-bottom: 10px;
    color: #FFFFFF;
    font-size: 18px;
}

.footer__contact__map{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.footer__contact__info__infos img {
    width: 15px;
    height: 15px;
}

#footer__contact__info__accent__link{
    margin-top: 25px;
    background-color: #DEB959;
    font-size: 25px;
    font-weight: 700;
    color: #333333;
    border-style: none;
    width: 144px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__credits{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 150px;
    height: 150px;
    gap: 5px;
    color: #FFFFFF;
    font-size: 18px;
}

.footer__credits p{
    width: 119px;
    height: 24px;
}

.footer__credits img{
    width: 104px;
    height: 104px;
}
